$cell-size: 24px;
$input-size: 16px;
$header-height: 60px;
$footer-height: 40px;

.cover-heading {
  text-align: left;
  padding: 5px 16px;
}

.matrix-help {
  text-align: left;
  display: block;
  margin-left: 20px;
}

.matrix-container {
  position: relative;
  width: 100%;
  height: ($cell-size * 10) + 20px + $header-height + $footer-height;

  .matrix-header {
    height: $header-height;
    padding-top: 16px;

    .matrix-row-counter {
      width: 36px;
      margin: 0 16px;
      display: inline-block;
      position: relative;
      top: 5px;
    }

    .btn {
      width: 40px;
      font-weight: bold;
    }
  }

  .matrix {
    height: ($cell-size * 10) + 20px;
    text-align: left;
    padding: 10px 25px;

    .matrix-row .matrix-cell {
      width: $cell-size;
      height: $cell-size;

      .matrix-input {
        width: $input-size;
        height: $input-size;
        text-transform: uppercase;
      }
    }
  }

  .matrix-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: $footer-height;

    padding: 0;
    background-color: rgba(0, 0, 0, 0.02);

    .btn {
      height: 100%;
      border-radius: 0;
    }
  }
}

@media (min-width: 768px) {
  .matrix-container .matrix {
    width: ($cell-size * 10) + 20px;
    padding: 10px;
  }
}