@import 'background';
@import 'matrix';
@import 'status';

html, body {
  background-color: #dddddd;
  padding: 0;
  margin: 0;
  height: 100%;
  color: #444;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-image: url("/resources/imgs/trianglify.png");
  background-size: cover;
}


.card {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border: unset;
}

#magnetoImageHolder {
  background-color: darkslateblue;
  background-image: url("/resources/imgs/Magneto.jpg");
  background-size: cover;
}

input[type=text] {
  border: 0px solid transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  padding: 2px;
  text-align: center;
  opacity: 0.5;
  transition: all 0.5s;

  &:focus {
    outline: none;
    border: 0px solid transparent;
    border-bottom: 2px solid rgba(64, 64, 192, 0.75);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
    caret-color: transparent;
    opacity: 1;
  }
  &::selection {
    background: transparent;
    color: black;
  }
  &.ng-dirty {
    border-bottom-width: 1px;

    &.ng-invalid {
      border-bottom-color: darkred;
      border-bottom-width: 2px;
      color: red;
      opacity: 0.75;
    }
  }
}

.view {
  transition: 750ms;
  position: relative;

  &.ng-enter,
  &.ng-leave.ng-leave-active {
    transition-delay: 500ms;
    opacity: 0;
  }

  &.ng-enter.ng-enter-active,
  &.ng-leave {
    opacity: 1;
  }
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.mastfoot {
  color: white;

  a {
    color: yellow;
  }
}